* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-color: rgb(231, 231, 231);
  height: 100%;
  padding: 10% 3% 15% 3%;
}

.heading {
  display: flex;
  height: 100px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding-right: 24px;
  border-radius: 10px 10px 0 0;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  padding-left: 18px;
}

.input-field {
  margin-top: 5px;
  height: 100px;
  width: 100%;
  display: flex;
  background-color: white;
  align-items: center;
  padding: 24px;
}

#to-do-input {
  width: 100%;
  border: none;
  font-size: 32px;
  font-style: italic;
}

.edit-input {
  width: 100%;
  font-size: 32px;
  font-style: italic;
  border: 1px solid gray;
}

.fa-solid {
  font-weight: 900;
  font-size: 18px;
}

.list {
  width: 100%;
  border: none;
  font-size: 28px;
  background-color: white;
  margin-top: 5px;
}

.list-item {
  display: flex;
  height: 100px;
  align-items: center;
  gap: 12px;
  list-style: none;
  padding: 12px;
}

.check-box {
  width: 42px;
  height: 42px;
}

.newInput {
  width: 88%;
  font-size: 32px;
  font-style: italic;
}

.list-info {
  font-size: 32px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 92%;
}

.clear-btn {
  width: 100%;
  height: 150px;
  font-size: 32px;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  border-radius: 0 0 10px 10px;
}

section {
  margin: 10px 10px 10px 10px;
}

.line-through {
  text-decoration: line-through;
}

.edit-msg {
  color: red;
  font-size: 16px;
}

.edit-con {
  height: 50%;
  width: 93%;
}
